@page
@model ChatCoreAPI.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

<pre>

미리생성된 Test channel id : webnori


ActionList

- JoinChannel - string channelId, string loginId, string accessToken 


</pre>

<div class="form-group row">
    <label for="actionInput" class="col-2 col-form-label">Action</label>
    <div class="col col-sm-6">
        <input id="actionInput" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <label for="input1" class="col-2 col-form-label">channelId</label>
    <div class="col col-sm-6">
        <input id="input1" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <label for="input2" class="col-2 col-form-label">accessToken</label>
    <div class="col col-sm-6">
        <input id="input2" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <label for="input3" class="col-2 col-form-label">data</label>
    <div class="col col-sm-6">
        <input id="input3" class="form-control" />
    </div>
</div>


<button id="send" type="button" class="btn btn-primary">Send Message</button>

<hr>

<ul id="messageList"></ul>

@section Scripts
{
    <!-- <snippet_CDN> -->
    <script src="~/lib/signalr/signalr.js"></script>
    <!-- </snippet_CDN> -->
    <script src="~/chat.js"></script>
}