<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>

	<akka>
		<hocon>
			<![CDATA[
        akka {
          persistence {
            journal {
              plugin = "akka.persistence.journal.sqlite"
              auto-start-journals = ["akka.persistence.journal.sqlite"]
            }
            snapshot-store {
              plugin = "akka.persistence.snapshot-store.sqlite"
              auto-start-snapshot-stores = ["akka.persistence.snapshot-store.sqlite"]
            }
          }
        }
      ]]>
		</hocon>
	</akka>
</configuration>